.container {
    display: flex;
    background-color: #FFC017;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(41, 41, 41, 1);
    
}

.logo{
    font-size: 2rem;
    margin-left: 400px;
    font-weight: 600;
    letter-spacing:-1px;
    color: rgba(0, 0, 0, 1);
}

.nav{
    display: flex;
    
}

.ul{
    margin: 380px;
    display: flex;
    font-size: 13px;
}



li {
    margin: 0 13px;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: black;
}

.nav-btn{
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 1);

}